<div>
    {% for room in rooms %}
        <div>
            {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Update</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
            {% endif %}
            <span>@{{ room.host.username }}</span>
            <h1><a href="{% url 'room' room.id %}">{{ room.name }}</a></h1>
            <small>{{ room.topic.name }}</small>
            <div>{{ room.description }}</div>
        </div>
    {% endfor %}
</div>