{% extends 'base/base.html' %}

{% block content %}

    {% if pageName == "login" %}

        <main class="auth layout">
          <div class="container">
            <div class="layout__box__auth">
              <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                  <h3>Login</h3>
                </div>
              </div>
              <div class="layout__body__auth">
                <h2 class="auth__tagline">Find your study partner</h2>

                <form method="POST" class="form" action="#">
                    {% csrf_token %}

                    <div class="form__group form__group">
                    <label for="room_name">Email</label>
                    <input id="email" name="email" type="text" placeholder="Enter username" />
                  </div>
                  <div class="form__group">
                    <label for="password">Password</label>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                    />
                  </div>

                  <button class="btn btn--main" type="submit">
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <title>lock</title>
                      <path
                        d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
                      ></path>
                      <path
                        d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
                      ></path>
                    </svg>

                    Login
                  </button>
                </form>

                <div class="auth__action">
                  <p>Haven't signed up yet?</p>
                  <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </main>

    {% elif pageName == "register" %}

        <main class="auth layout">
          <div class="container">
            <div class="layout__box__auth">
              <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                  <h3>Sign up</h3>
                </div>
              </div>
              <div class="layout__body__auth">
                <h2 class="auth__tagline">Find your study partner</h2>

                <form method="POST" class="form" action="#">
                    {% csrf_token %}

    {#              <div class="form__group form__group">#}
    {#                <label for="fullname">Full Name</label>#}
    {#                <input id="fullname" name="fullname" type="text" placeholder="e.g. Dennis Ivy" />#}
    {#              </div>#}

                    {% for field in form %}
                        <div class="form__group form__group">
                            <label for="room_name">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

{#                  <div class="form__group form__group">#}
{#                    <label for="room_name">Username</label>#}
{#                    <input id="username" name="username" type="text" placeholder="Enter username" />#}
{#                  </div>#}
{#                  <div class="form__group">#}
{#                    <label for="password">Password</label>#}
{#                    <input#}
{#                      id="password1"#}
{#                      name="password1"#}
{#                      type="password"#}
{#                      placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"#}
{#                    />#}
{#                  </div>#}
{##}
{#                  <div class="form__group">#}
{#                    <label for="confirm_password">Confirm Password</label>#}
{#                    <input#}
{#                      id="password2"#}
{#                      name="password2"#}
{#                      type="password"#}
{#                      placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"#}
{#                    />#}
{#                  </div>#}

                  <button class="btn btn--main" type="submit">
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <title>lock</title>
                      <path
                        d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
                      ></path>
                      <path
                        d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
                      ></path>
                    </svg>

                    Sign Up
                  </button>
                </form>

                <div class="auth__action">
                  <p>Already have an account?</p>
                  <a href="{% url 'login' %}" class="btn btn--link">Log In</a>
                </div>
              </div>
            </div>
          </div>
        </main>

    {% endif %}

{% endblock %}



{#{% extends 'base/base.html' %}#}

{#{% block content %}#}
{#    {% if pageName == "login" %}#}
{#        <div>#}
{#            <form method="POST" action="">#}
{#                {% csrf_token %}#}
{##}
{#                <label>Username</label>#}
{#                <input type="text" name="username" placeholder="Enter Username">#}
{##}
{#                <label>Password</label>#}
{#                <input type="password" name="password" placeholder="Enter Password">#}
{##}
{#                <input type="submit" value="Login">#}
{#            </form>#}
{#            <p>Haven't signed up yet?</p>#}
{#            <a href="{% url 'register' %}">Sign up</a>#}
{#        </div>#}
{#    {% elif pageName == "register" %}#}
{#        <div>#}
{#            <form method="POST" action="">#}
{#                {% csrf_token %}#}
{##}
{#                {{ form.as_p }}#}
{##}
{#                <input type="submit" value="Register">#}
{#            </form>#}
{#            <p>Already signed up?</p>#}
{#            <a href="{% url 'login' %}">Sign in</a>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}